* Data types
    * Numbers: 
        - int: 1
        - float: 1.0
        - Calulatoin: +, -, *, /, **(^), %(mod)
        * Variable Assignment: var = value 
    * Strings
    * Printing
        - print(x) directly print string without quotes
        - print('My number is: {}, and my name is: {}'.format(num,name))
        - print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))
    * Lists
        - declare an empty list: out = []
        - index starts from 0: list[index]
        - add stuff: list.append(element)
        - assign value to a position: list[0] = element
        - last element : -1
    * Dictionaries
        - d = {'key1': 'item1', 'key2': 'item2'}
        - access value: d['key1'] 
    * Booleans
        - True/False
    * Tuples 
        - use parenthesis: t = (1,2,3)
        - cannot assign new value in tuple, because tuple is immutable
    * Sets
        - a collection of unique elements
        - add new element: s.add(element)
    * Tuples vs. List: Tuple is immutable, cannot assign new value in the old position

* Comparison Operators: 
    - comparison: ==
    - variable assignment:  =
    - combination: use logical operator such as and/or
* if, elif, else Statements
    - if, elif, else
* for Loops
    - for item in list: do sth
        - [do sth for item in list]
* while Loops
    - while cond:  do sth. i+1
* range()
    - use range funciton: range(0,x) = range(x): 0~x-1
* list comprehension
* functions
    - def my_func(param1): do sth./return sth.
    - my_funct('olivia')
* lambda expressions
    - lambda par: par expression
* map and filter
    - map(function, input)
    - filtert(function, input), funciton is a conditional statement (boolean)
* methods
    - call a method: s.lower()

In [22]:
if 1<2:
    print('yep!')

yep!

In [16]:
if 1 == 1:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

My number is: 11, and my name is: olivia

In [23]:
#for loops
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [25]:
i = 1
while i<5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [33]:
x = [1,2,3,4]
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [36]:
#Neat way right for loop
out = [item**2 for item in x]
out

[1, 4, 9, 16]

In [40]:
#Function
def my_funct(name):
    print('hello ' + name)

In [41]:
my_funct('olivia')

hello olivia

In [43]:
def square(num):
    """
    Comment 
    """
    return num**2

In [46]:
output = square(2)
output

4

In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

In [9]:
# map()
seq = [1,2,3,4,5]

In [10]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [11]:
t = lambda var: var*2

In [13]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [18]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [22]:
s = 'hello my name is Sam'
s.lower()

'hello my name is sam'

In [23]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [28]:
#dictionary
d = {'k1': 1,"k2":2}
d.keys()
d.items()
d.values()

dict_values([1, 2])

In [35]:
#list
lst = [1,2,3]
item = lst.pop()
item
lst
first = lst.pop(1)
first

2

In [38]:
x = [(1,2), (3,4)]

In [42]:
for (a,b) in x:
    print(b)

2
4